.navbar {
    position: sticky;
    z-index: 10;
    top: 0px;
    justify-content: space-between;
    display: flex;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);

    transition: all 0.3s ease-in-out;
}


.navbar--divimg {
    height: 100%;
    margin-left: 20px;
    border-radius: 4px;
    padding: 5px;
}

.navbar--divimg:hover {
    background-color: rgb(211, 211, 211);
}

.navbar--divimg--img {
    height: 100%;

}

.navbar--right--div {
    height: min-content;
    margin: auto 0px;

}

.navbar--right--div--buttons {
    display: block;
    float: left;
    font-family: arial;
    font-size: 17px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    min-width: 70px;
    text-align: center;
}

.navbar--right--div--buttons:hover {
    background-color: rgb(211, 211, 211);
}

.navbar--right--div--buttons__active {
    color: white !important;
    background-color: #db2234 !important;
}

.navbar--right--div--buttons__active--job {
    background-color: rgb(211, 211, 211) !important;
}

.navbar--right--div--buttons--div {
    cursor: default;
    position: relative;
    width: 70px;
    height: 40px;
    padding: 0px;
}



/*
.navbar--right--div--buttons--div:hover .navbar--right--div--buttons--div--unterordner {
    transform: translate(-50%, 0) scaleY(100%);
}
    */

.navbar--right--div--buttons--div--unterordner--item {
    display: block;
    width: 120px;
}

.navbar--mobileNav {
    display: none;
}



.footer--div {
    display: flex;
}

.footer--div--buttons {
    color: white;
    text-decoration: none;
    width: auto;
}

/* Desktop */
@media screen and (min-width: 931px) {

    .navbar--right--div--buttons--div--unterordner {
        transform: translate(-50%, 0) scaleY(0);
    }

    .navbar--right--div--buttons--div--unterordner {
        display: inline-block;

        transition: all 0.5s ease-in-out;
        transform-origin: top;
        position: relative;
        top: 19px;
        left: 50%;
        padding: 5px;
        box-shadow: 0px 0px 14px 0px #000000;
        background-color: white;
    }

    .footer {
        width: 100%;
        height: 70px;
        background-color: var(--ersteFarbe);
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 100px;
    }

    .footer--div--buttons {

        margin: 0 10px;

    }

}

@media screen and (max-width: 930px) {
    .navbar--mobileNav {
        display: block;
        margin: auto 20px auto 0px;
    }

    .navbar--mobileNav--checkbox {
        display: none;
    }


    .navbar--mobileNav--hamburgerMenu--image {
        width: 50px;
        display: block;
    }

    .navbar--right--div {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;

        overflow: hidden;
        width: 100vw;
        background-color: white;
        height: 0vh;
        transition: 0.2s all;
    }

    .navbar--right--div--buttons {
        width: 100vw;
        padding-left: 44vw;
        text-align: left;
    }

    .navbar--right--div--buttons--div {

        position: static;
        height: fit-content;
        margin: 0;
        padding: 0;
    }

    .navbar--right--div--buttons--div--unterordner {

        position: relative;
        left: 0vw;
        padding: 0;


    }

    .navbar--right--div--buttons--div--unterordner--item {
        width: 100vw;
        padding-left: 47vw;
        text-align: left;
    }


    .footer {
        width: 100vw;
        height: 70px;
        background-color: var(--ersteFarbe);
        display: flex;
        justify-content: right;
        align-items: center;

    }

    .footer--div--buttons {

        margin: auto 10px;

    }

}