h2{
    color: var(--dritteFarbe);
}
.personen {
  display: flex;
  flex-direction: row;
}
.person {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 20vw;
  overflow: hidden;
  margin-right: 30px;
  background-color: #e7e7e7;
}
.person--div{
  height: 300px;
}
.person__img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.person--kasten{
  position: absolute;
  top: 240px;
  padding: 12px 30px;
  background-color: #db2234cc;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 75%;
  color: white;
  backdrop-filter: blur(1.2px);
}
.person--kasten__ohneH4{
  padding: 25px 30px;
}
.person--kasten__h3{
  font-size:27px;
  margin: 0px;
}
.person--kasten__h4{
  font-size:20px;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.person--infos{
  padding: 0px 15px;
  margin-top: 20px;
}
.person--infos h3{
  margin-top: 40px;
}
.bereiche.verwaltung{
  padding: 30px 0px;
}