h2{
    color: var(--dritteFarbe);
}
.personen {
  display: flex;
  flex-direction: row;
}
.person {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
}
.person__img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
