.gesamtSilde {
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.mySlides {
	display: none;
	position: relative;
	height: 100%;
}

.bilder {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center
}


/*
.mySlides .bild1 {

	position: absolute;
	top: -300px;
}

.mySlides .bild2 {

	position: absolute;
	top: -500px;
}

.mySlides .bild3 {

	position: absolute;
	top: -500px;
}

*/



/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
	height: 70vh;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.divaufImg {
	display: none;
}

.divaufImg.text.zwei {
	top: 100px;
	right: 50px;

	padding: 70px 100px;
	background-color: #07546e91;
	border-radius: 14px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	color: white;
}




.text {
	font-size: 25px;
	padding: 33px 50px;
	position: absolute;
	width: auto;
	height: auto;
	background-color: #ffffffab;
	animation-name: fade;
	animation-duration: 1s;

}

.text.eins {
	top: 100px;
	right: 100px;
	position: absolute;
}

.text h2 {
	color: white;
	font-size: 35px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}


.active,
.dot:hover {
	background-color: #717171;
}

.dots {
	position: relative;
	bottom: 60px;

	text-align: center;
	margin-bottom: 15px;
}

/* Fading animation */
.fade {}

@keyframes fade {
	from {
		opacity: .8
	}

	to {
		opacity: 1
	}
}

.pflegePasst {
	position: relative;
	top: 100px;
	left: 1200px;
	background-color: blue;
}

.pflegePasst img {
	position: absolute;
	height: 130px;
}


.inhalt {
	display: flex;
	flex-direction: row;
}

.divlinks {
	width: 60%;


}